body {
    background-color:   #f7f7f7;
    margin-left:        auto;
    margin-right:       auto;
}

.item {
    font-style:         bold;
    font-size:          20px;
    padding:            10px;
}
.favButton, .deleteButton {
   padding:              5px;
   margin:               5px;
   margin-bottom:        8px;
   border:               solid black 2px;
   border-radius:        15%;
   background-color:     #ffec8b;
   position:             absolute;
   right:                320px;

}

.deleteButton {
    background-color:   #ff3e50;
    right:              220px;
    
}
